# This is a sample configuration file for spopd.
# Be sure to update it to fit your setup!
#
# Since this file contains your Spotify username and password in clear text,
# be sure to keep it in a safe place, with reasonable read permissions
# (something like "chmod 0600 spopd.conf" should be safe).

[spop]
spotify_username = USERNAME
spotify_password = PASSWORD

# Prefer high bitrate (320k instead of 160k). This is the default.
#high_bitrate = true

# Prefer high bitrate for offlinesync. This is the default.
#offline_high_bitrate = true

# Cache size, in megabytes. The default value is 0, which means 10% of disk free
# space.
#cache_size = 0

# Number of results returned by the search command.
#search_results = 100

# Audio plugin -- right now, three plugins are available:
# - ao: uses libao, a simple and very portable library. Recommended for people
#   who use ALSA, a sound server (Pulse Audio, aRts, etc.), or a platform that
#   does not support OSS (Windows, MacOS X).
# - oss: uses OSS, which is very simple and highly reliable. Recommended for
#   people who use OSS as their main sound system (Linux with OSSv4, *BSD).
# - sox: uses libsox, "the Swiss Army knife of sound processing" library.
#   Probably not as lightweight as ao and oss, but supports more platform, and -
#   adds the possibility to apply effects to the audio output. More details in -
#   the [sox] section.
audio_output = oss

# Address and port on which spopd should listen for commands.
# The address can be IPv4 (x.x.x.x) or IPv6 (a:b:c::d).
# Use 0.0.0.0 or :: to listen on all the available interfaces.
# Default is port 6602 on all the available loopback addresses (127.0.0.1 and
# ::1).
#listen_address = 127.0.0.1
#listen_port = 6602

# Path to the log file. If blank, messages will not be saved anywhere.
# Default is /var/log/spopd.log.
#log_file = /var/log/spopd.log

# Various plugins to load.
#plugins = notify;scrobble

# Where to look for plugins. If a plugin is not found here, spopd will look for
# it in the standard directories (/usr/lib, /lib, etc).
#plugins_search_path =

# Pretty-print the JSON output. This makes the output easier to read, which may
# be useful when debugging or using spop using only a telnet client...
# pretty_json = false

[scrobble]
# API endpoint of the scrobbling service you're using.
# - Last.FM: http://post.audioscrobbler.com:80/
# - Libre.FM: http://turtle.libre.fm/
api_endpoint = http://post.audioscrobbler.com:80/
username = USERNAME
password = PASSWORD

[notify]
# Enable or disable notification images. Enabled by default.
#use_images = true

# Size of images in notifications. libspotify provides 300x300 images, which is
# probably too much for most people, so the default value is 120x120.
#image_size = 120

[sox]
# Output type for SoX output. Common values: alsa, oss, coreaudio (MacOS X),
# pulseaudio, etc. Can be a file type: wav, mp3, ogg, etc. See `man soxformat'
# for details.
#output_type = alsa

# Output name. Common values: default (for alsa, coreaudio, pulseaudio), hw:0
# (alsa), /dev/dsp (oss), etc. This can also be left empty to use the default
# value of the device driver. Can also be a file name: output.ogg, etc. See `man
# soxformat' for details.
#output_name = default

# List of effets to apply to the audio output, with their parameters. See `man
# soxeffects' for details.
#effects = gain -3; pad 0 3; reverb

[web]
# IP/hostname and port the web server will listen on if enabled. By default it
# will listen on 127.0.0.1, only allowing local connections. Set it to 0.0.0.0
# to allow any host to use the web API (or :: if you're using IPv6).
#ip = 127.0.0.1
#port = 8080

# Static files root -- defaults to $INSTALL_PREFIX/spop/web
#root = /home/myself/path/to/spop/web
