# This is a sample configuration file for spopd.
# Be sure to update it to fit your setup!
#
# Since this file contains your Spotify username and password in clear text,
# be sure to keep it in a safe place, with reasonable read permissions
# (something like "chmod 0600 spopd.conf" should be safe).

spotify_username = "USERNAME";
spotify_password = "PASSWORD";

# Audio plugin -- right now, only OSS is available
audio_output = "oss";

# Interface plugin -- mpd or simple
interface = "simple";

# Address and port on which spopd should listen for mpd-like or "simple"
# commands (depending on the interface plugin in use). Use 0.0.0.0 to listen on
# all the available interfaces. Default is port 6600 on 127.0.0.1.
#listen_address = "127.0.0.1";
#listen_port = 6600;
