[Unit]
Description=Spop: a Spotify client daemon
After=network.target sound.target

[Service]
ExecStart=/usr/bin/spopd -f

[Install]
WantedBy=default.target
